body {
    width: 100%;
    float: left;
  }
  
  .class1{
    width: 15%;
    float: left;
  }

  .class2{
    width: 35%;
    float:left;
  }

  .class3{
    width: 50%;
    float:left;
  }
  
  p {
    padding-top: 25px;
    text-align: center;
  }
  .itinerary{
    padding: 5px;
    display: flex;
    border: black;
    border-radius: 10px;
  }
  .iti_head{
    padding: 1.0rem;
  }
  .grocery_item:not(:last-child){
    border-bottom: 1px solid #ccc;
  }
  
