body {
    width: 100%;
  }
  
  .class1{
    width: 100%;
  }

  .center {
    border: 5px solid #fefefd;
    text-align: center;
    }

  .class2{
    width: 100%;
    flex:center;
  }

  .class3{
    width: 100%;
    flex:center;
  }
  
  p {
    padding-top: 25px;
    text-align: center;
  }
  .itinerary{
    padding: 5px;
    display: flex;
    text-align: center;
    border: black;
    border-radius: 10px;
  }
  .iti_head{
    padding: 1.0rem;
    width: auto;
    text-align: center;
  }
  
  
